*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

body{
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.container{
  background: linear-gradient(to right, #191F22, #131618);
  border-radius: 30px;
  width: 400px;
  margin: 0 auto;
  margin-top: 180px;
  padding-bottom: 50px;
  box-shadow: 0 0 16px black;
  
}

.title{
  padding: 10px 0;
  text-align: center;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
  font-weight: 800;
  font-family: 'Kaushan Script', cursive;
  
}

.container .search{
  text-align: center;
  margin: 10px 0;
}

.container #search-location{
  margin-top: 30px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  color: black;
  border: none;
  outline: none;
  height: 38px;
  padding: 8px 10px;
  width: 60%;
  border-radius: 20px;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
}

.container #search-location::placeholder {
  color: black;
}

.container #search-location:hover{
  border: 2px solid rgb(137, 129, 202);
}

.container #search-location:focus{
  box-shadow: 0 0 3px #015b7e;
}

.container .search #btn{
  width: 22%;
  background: #36d1dc;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 7px 12px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid rgb(105, 100, 100);
  height: 39px;
  cursor: pointer;
  margin-left: 6px;
  font-family: 'Roboto Mono', monospace;
}

.container .search #btn:hover, .container .search #btn:active{
  border: 2px solid #36d1dc;
}

img{
  display: block;
  width: 40%;
  border-radius: 20px;
  margin: 25px auto 20px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.card{
  color: #293251;
  font-family: 'Roboto Mono', monospace;
}

.temp{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

#F{
  font-size: 30px;
  margin-left: 10px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

#weather-desc{
  font-size: 30px;
  text-align: center;
  padding: 8px;
  font-weight: 600;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}

#location{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}